{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img
          src={% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta">
        <i class="fa fa-clock" aria-hidden="true"></i>
        {% include read-time.html %}
      </p>
    {% endif %}

    {%- assign kind = post.type | default: post.category | default: post.categories[0] | default: '' | downcase -%}

    {% if post.collection == 'teaching' %}

      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>

    {% elsif post.collection == 'publications' %}

      {% if post.date %}
        <p class="page__meta">
          <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%Y" }}
          </time>
        </p>
      {% endif %}

      {% if post.venue != blank %}
        <p>Published in <i>{{ post.venue }}</i></p>
      {% endif %}

    {% elsif post.venue != blank and post.date %}

      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>

    {% elsif post.date %}

      <p class="page__date">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      </p>

    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        <strong>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a>
        </strong>
      </p>
    {% endif %}

    {% assign has_paper  = post.paperurl %}
    {% assign has_slides = post.slidesurl %}
    {% assign has_bib    = post.bibtexurl %}
    {% assign has_code   = post.code %}

    {% if has_paper or has_slides or has_bib or has_code %}
      <p style="font-size: smaller">
        {% if has_paper %}
          <a href="{{ post.paperurl }}">Download Paper</a>
        {% endif %}

        {% if has_code %}
          {% if has_paper %} | {% endif %}
          <a href="{{ post.code }}">Code</a>
        {% endif %}

        {% if has_slides %}
          {% if has_paper or has_code %} | {% endif %}
          <a href="{{ post.slidesurl }}">Download Slides</a>
        {% endif %}

        {% if has_bib %}
          {% if has_paper or has_slides or has_code %} | {% endif %}
          <a href="{{ post.bibtexurl }}">Download Bibtex</a>
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>
