.course-instructors {
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.8;
  margin-left: 0.25em;
}

.archive__item-excerpt { margin: 0.05rem 0; }
.archive__item { margin-bottom: 0.6rem; }

.pub-year i { margin-right: 0.25rem; }


.archive__item-title {
  margin-bottom: 0 !important;
}
.archive__item-title + .page__meta {
  margin-top: 0 !important;
}
.page__meta {
  margin-bottom: 0.2rem !important;
}

.pub-compact {
  margin-top: 0 !important;
}
